body{
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}
#header{
    background: #dedede;
    width: 100%;
    height: 80px;
}
#header h1{
    padding: 20px;
    margin: 0;
}
h1:first-letter, p:first-letter, h3:first-letter{
    text-transform: uppercase;
}

.content{
    width: 80%;
    margin: 0 auto;
}
.item{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dedede;
    text-decoration: none;
}